<!DOCTYPE html>
<html lang="en" ng-app="scriptApp">

<head>
    <title>Script for dummies</title>
    <link rel="stylesheet" href="styles.css">
    <script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="XMLWriter-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="editor.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-controller="scriptCtrl">
    <div id="sqlEditor" class="panel"></div>
    <div class="floating-editor" ng-show="openModal">
        <div class="floating-container">
            <div id="sqlParameterEditor"></div>
            <a class="blue-button close-icon" ng-click="closeModal()">Close</a>
        </div>
    </div>
    <div class="panel">
        
        <div class="cardContainer">
            <div class="cardSection">
                <h2>Action </h2>
                <table class="fieldTable">
                    <tbody>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">Time out: </td>
                            <td><input type="text" ng-model="script.action.timeout"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">Returns: </td>
                            <td>
                                <select ng-options="return for return in returns" ng-model="script.action.returns"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>Display Warning: </td>
                            <td><input type="checkbox" ng-model="script.action.displaywarning"></td>
                        </tr>

                        <tr>
                            <td>Allow html tags in out sput: </td>
                            <td><input type="checkbox" ng-model="script.action.allowhtmltagsinoutput"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">Name action: </td>
                            <td><input type="text" ng-model="script.action.name"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="cardSection">
                <h2>General </h2>
                <table class="fieldTable">
                    <tbody>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">Name: </td>
                            <td><input ng-model="script.Name"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">Description: </td>
                            <td><input ng-model="script.Description"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">Category: </td>
                            <td><input ng-model="script.Category"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="cardSection">
                <h2 style="display: inline;">Input </h2>
                <button style="float: right; margin-right: 5px;" class="ActionButton" type="button" ng-click="addParameter()">Add New</button>
                <div style="clear: both;"></div>
                <table class="fieldTable">
                    <tbody>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">Name: </td>
                            <td><input ng-model="script.Name"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">Description: </td>
                            <td><input ng-model="script.Description"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">Category: </td>
                            <td><input ng-model="script.Category"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





         <div>
             Parameters:
             <div>
                    <button type="button" ng-click="addParameter()">Add New...</button>
             </div>
             <div class="parameters-container">
                <div class="parameter" ng-repeat="parameter in script.parameters track by $index">
                    <div>
                        <label>
                            Type:
                            <select ng-options="type for type in parameterTypes" ng-model="parameter.parameterType">
                            </select>
                        </label>
                        <label>
                            Id:
                            <input ng-model="parameter.id"/>
                        </label>
                        <label>
                            Name:
                            <input ng-model="parameter.name"/>
                        </label>
                        <label ng-if="parameter.parameterType=='constant'">
                            Data Type:
                            <select ng-options="dt for dt in types" ng-model="parameter.dataType"/>
                            </select>
                        </label>
                        <label ng-if="parameter.parameterType=='constant' && parameter.dataType=='number'">
                            Precision:
                            <input type="text" ng-model="parameter.precision"/>
                            Scale:
                            <input type="text" ng-model="parameter.scale"/>
                        </label>

                        <label ng-if="parameter.parameterType=='constant' || parameter.parameterType=='object'">
                            Required:
                            <input type="checkbox" ng-model="parameter.required">
                            
                            <div ng-if="parameter.parameterType=='constant' && parameter.dataType=='text'">
                                <input type="button" value="Add Option" ng-click="addOption(parameter)">
                                <div ng-repeat="option in parameter.option track by $index">
                                    <input type="text" ng-model="option.text"/>
                                </div>
                            </div>
                        </label>

                        <label ng-if="parameter.parameterType=='sql'">
                            <div>
                                Sql:
                                {{parameter.sql}}
                            </div>
                            <a class="blue-button" href="#" ng-click="openModalFor(parameter)">Edit sql ...</a>
                            <!-- <div id="sqlEditorParameter"></div> -->
                        </label>

                        <label ng-if="parameter.parameterType=='object'">
                            Artefact ID:
                            <input ng-model="parameter.typeartifactid"/>
                            View artifact ID:
                            <input ng-model="parameter.rdoviewartifactid"/>
                            Display Type:
                            <input ng-model="parameter.displaytype"/>
                            Artifact GUID
                            <input ng-model="parameter.typeartifactguid"/>
                            View Artifact GUID
                            <input ng-model="parameter.rdoviewartifactguid"/>
                        </label>

                        <label ng-if="parameter.parameterType == 'field'">
                            <input type="button" ng-click="addFilter(parameter, true)" value="Add Category">
                            <label ng-repeat="category in parameter.filters.category track by $index">
                                <input type="text" ng-model="category.text">
                            </label>

                            <input type="button" ng-click="addFilter(parameter, false)" value="Add Type">
                            <label ng-repeat="type in parameter.filters.type track by $index">
                                <input type="text" ng-model="type.text">
                            </label>
                        </label>
                        
                    </div>
                </div>
                <!-- {{script.parameters | json}} -->
             </div>
         </div>

        <div>
            <label>
                Key:
                <input ng-model="script.key">
            </label>
        </div>

        <div>
            <label>
                Display:
                <select ng-options='dt for dt in displayTypes' ng-model="script.display.type"></select>
                Settings:
                <input type="text" ng-model="script.display.settings.reporttitle">
            </label>
        </div>

        <div>
            <label>
                Version:
                <input type="text" ng-model="script.version">
            </label>
        </div>

        <div>
            <label>
                Security:
                <input type="button" ng-click="addAcl()" value="Add Acl">
                <div ng-repeat="acl in script.security.acl track by $index">
                    Id:
                    <input type="text" ng-model="acl.id">
                    Artifact ID:
                    <input type="text" ng-model="acl.typeartifactid">
                    Artifact GUID:
                    <input type="text" ng-model="acl.typeartifactguid">
                    Type:
                    <input type="text" ng-model="acl.type">
                </div>
            </label>
        </div>
         <div style="margin-top: 20px">
             <button type="button" ng-click="write()">Write</button>
         </div>
     </div>
     <div style="clear: both">
         <textarea rows="20" cols="200" id="targetElement" class="script-body">
 &lt;script&gt;
&lt;name&gt;My script&lt;/name&gt;
&lt;description&gt;This is an awesome script&lt;/description&gt;
&lt;category&gt;Testing scripts&lt;/category&gt;
&lt;key&gt;1234-key-456&lt;/key&gt;
&lt;display type="report"&gt;
	&lt;settings reporttitle="Test Title" /&gt;
&lt;/display&gt;
&lt;version&gt;1.2.3.0&lt;/version&gt;
&lt;security&gt;
     &lt;acl id="acl1" typeartifactid="123" type="delete" typeartifactguid="the-guid"/&gt;
     &lt;acl id="acl2" typeartifactid="456" type="view" typeartifactguid="the-guid2"/&gt;
&lt;/security&gt;
  &lt;input&gt;
    &lt;constant id="_year" name="Usage Period Year (YYYY)" type="number" /&gt;
    &lt;constant id="_month" name="Usage Period Month (MM)" type="number" /&gt;
    &lt;constant id="_replaceCase" name="Replace Case Name With Artifact ID" type="text"&gt;
      &lt;option&gt;True&lt;/option&gt;
      &lt;option&gt;False&lt;/option&gt;
    &lt;/constant&gt;
    &lt;field id="FIELD_PROPAGATE" name="Parent ID destination:"&gt;
      &lt;filters&gt;
        &lt;type&gt;0&lt;/type&gt;
        &lt;type&gt;1&lt;/type&gt;
      &lt;/filters&gt;
    &lt;/field&gt;
      &lt;sql id="viewID" name="Views"&gt;
       SELECT
       Display = [Name],
       ID = [ArtifactID]
       FROM
       [View]
  &lt;/sql&gt;
      &lt;sql id="viewID3" name="Views3"&gt;
       SELECT
       Display = [Name],
       ID = [ArtifactID]
       FROM
       [View3]
  &lt;/sql&gt;
  &lt;object id="Tab" name="Tab" displaytype="multipicker" typeartifactid="1035238" rdoviewartifactid="1034262" /&gt;
  &lt;/input&gt;
&lt;action returns="table"&gt;
&lt;![CDATA[

CREATE PROCEDURE dbo.Test2  
AS  
    CREATE TABLE #t(x INT PRIMARY KEY);  
    INSERT INTO #t VALUES (2);  
    SELECT Test2Col = x FROM #t;  
GO  

CREATE PROCEDURE dbo.Test1  
AS  
    CREATE TABLE #t(x INT PRIMARY KEY);  
    INSERT INTO #t VALUES (1);  
    SELECT Test1Col = x FROM #t;  
EXEC Test2;  
GO  

CREATE TABLE #t(x INT PRIMARY KEY);  
INSERT INTO #t VALUES (456);  
GO  

EXEC Test1;  
GO

]]&gt;
&lt;/action&gt;
&lt;/script&gt;
         </textarea>
     </div>
</body>

</html>
