<!DOCTYPE html>
<html lang="en" ng-app="scriptApp">

<head>
    <title>Script for dummies</title>
    <link rel="stylesheet" href="styles.css">
    <script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="XMLWriter-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="editor.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-controller="scriptCtrl">
    <div id="sqlEditor" class="panel"></div>
    <div class="floating-editor" ng-show="openModal">
        <div class="floating-container">
            <div id="sqlParameterEditor"></div>
            <a class="blue-button close-icon" ng-click="closeModal()">Close</a>
        </div>
    </div>
    <div class="panel">
        <div class="cardContainer">
            <div class="cardSection">
                <h2>General </h2>
                <table class="fieldTable">
                    <tbody>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="name">Name:</label>
                            </td>
                            <td><input type="text" id="name" ng-model="script.Name"></td>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="category">Category:</label>
                            </td>
                            <td><input type="text" id="category" ng-model="script.Category"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="description">Description:</label>
                            </td>
                            <td><input type="text" id="description" ng-model="script.Description"></td>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="key">Key:</label>
                            </td>
                            <td><input id="key" ng-model="script.key"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="version">Version:</label>
                            </td>
                            <td>
                                <input id="version" type="text" ng-model="script.version">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="cardSection">
                <h2>Action </h2>
                <table class="fieldTable">
                    <tbody>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                 <label for="returns">Returns:</label>
                            </td>
                            <td>
                                <select id="returns" 
                                    ng-options="return for return in returns" 
                                    ng-model="script.action.returns"></select>
                            </td>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="timeout">Timeout:</label>
                            </td>
                            <td><input id="timeout" type="text" ng-model="script.action.timeout"></td>
                        </tr>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="actionname">Name action:</label>
                            </td>
                            <td><input type="text" id="actionname" ng-model="script.action.name"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <input type="checkbox" class="checkbox-value" id="displaywarning" ng-model="script.action.displaywarning">
                    <label for="displaywarning" class="no-bold">Display Warning</label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox-value" id="allowhtmltags" ng-model="script.action.allowhtmltagsinoutput">
                    <label for="allowhtmltags" class="no-bold">Allow html tags in output</label>
                </div>
            </div>

            <div class="cardSection">
                <h2 style="display: inline;">Input </h2>
                <button style="float: right; margin-right: 5px;" class="ActionButton" type="button" ng-click="addParameter()">Add New</button>
                <div style="clear: both;"></div>
                <div ng-repeat="parameter in script.parameters track by $index">
                    <div>
                        <a href="#{{parameter.id}}#" ng-click="parameter.open = !parameter.open">...</a>
                        <span>{{parameter.name}} <em>{{parameter.id}}</em></span>
                    </div>
                    <table class="fieldTable parameter-table" ng-if="parameter.open">
                        <tr>
                            <td>
                                <tr>
                                    <td class="dynamicEditFieldNameRequired">
                                        <label>Type:</label>
                                    </td>
                                    <td>
                                        <select ng-options="type for type in parameterTypes" ng-model="parameter.parameterType"></select>
                                    </td>
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Id: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.id"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Name: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.name"/>
                                    </td>
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Data Type: </label>
                                    </td>
                                    <td>
                                        <select ng-disabled="parameter.parameterType != 'constant'" ng-options="dt for dt in types" ng-model="parameter.dataType"/></select>
                                    </td>
                                </tr>
                                <tr ng-if="parameter.parameterType=='constant' && parameter.dataType=='number'">
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Precision: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.precision"/>
                                    </td>
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Scale: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.scale"/>
                                    </td>
                                </tr>
                                <tr ng-if="parameter.parameterType=='constant' && parameter.dataType=='text'">
                                    <td style="vertical-align: top;">
                                        <input class="ActionButton" type="button" value="Add Option" ng-click="addOption(parameter)">
                                    </td>
                                    <td>
                                        <div ng-repeat="option in parameter.option track by $index">
                                            <input type="text" ng-model="option.text"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="parameter.parameterType=='sql'">
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Sql: </label>
                                    </td>
                                    <td>
                                        <a class="ActionButton" href="#" ng-click="openModalFor(parameter)">Edit SQL</a>
                                    </td>
                                </tr>

                                <!-- start object-->
                                <tr ng-if="parameter.parameterType=='object'">
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Artifact ID: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.typeartifactid"/>
                                    </td>
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">View artifact ID: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.rdoviewartifactid"/>
                                    </td>
                                </tr>

                                <tr ng-if="parameter.parameterType=='object'">
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Artifact GUID: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.typeartifactguid"/>
                                    </td>
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">View Artifact GUID: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.rdoviewartifactguid"/>
                                    </td>
                                </tr>

                                <tr ng-if="parameter.parameterType=='object'">
                                    <td class="dynamicEditFieldNameRequired">
                                        <label for="">Display Type: </label>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="parameter.displaytype"/>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <!-- start fields -->
                                <tr ng-if="parameter.parameterType == 'field'">
                                    <td style="vertical-align: top;">
                                        <input class="ActionButton" type="button" ng-click="addFilter(parameter, true)" value="Add Category"></td>
                                    <td>
                                        <label ng-repeat="category in parameter.filters.category track by $index">
                                            <select ng-options="key as value for (key , value) in fieldFiltersCategory" ng-model="category.text"></select>
                                        </label>
                                    </td>
                                </tr>

                                <tr ng-if="parameter.parameterType == 'field'">
                                    <td style="vertical-align: top;"><input class="ActionButton" type="button" ng-click="addFilter(parameter, false)" value="Add Type"></td>
                                    <td>
                                        <label ng-repeat="type in parameter.filters.type track by $index">
                                            <select ng-options="key as value for (key , value) in fieldFiltersType" ng-model="type.text"></select>
                                        </label>
                                    </td>
                                </tr>
                            </td>
                        </tr>
                    </table>
                    <br ng-if="parameter.open"/>
                </div>
                <div ng-if="parameter.parameterType=='constant' || parameter.parameterType=='object'">
                    <input type="checkbox" class="checkbox-value" ng-model="parameter.required">
                    <label for="" class="no-bold">Required</label>
                </div>
            </div>

            <div class="cardSection">
                <h2>Display </h2>
                <table class="fieldTable">
                    <tbody>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="displayType">Type:</label>
                            </td>
                            <td>
                                <select id="displayType" ng-options='dt for dt in displayTypes' ng-model="script.display.type"></select>
                            </td>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="settings">Settings:</label>
                            </td>
                            <td><input id="setttings" type="text" ng-model="script.display.settings.reporttitle"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="cardSection">
                <h2 style="display: inline;">Security</h2>
                <input style="float: right; margin-right: 5px;" class="ActionButton" type="button" ng-click="addAcl()" value="Add Acl">
                <div style="clear: both;"></div>

                <table class="fieldTable" ng-repeat="acl in script.security.acl track by $index" style="border-bottom: thin solid #c1c1c1;">
                    <tbody>
                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="aclId">Id:</label>
                            </td>
                            <td>
                                <input id="aclId" type="text" ng-model="acl.id">
                            </td>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="aclArtID">Artifact ID:</label>
                            </td>
                            <td><input id="aclArtID" type="text" ng-model="acl.typeartifactid"></td>
                        </tr>

                        <tr>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="aclArtGUID">Artifact GUID:</label>
                            </td>
                            <td>
                                <input id="aclArtGUID" type="text" ng-model="acl.typeartifactguid">
                            </td>
                            <td class="dynamicEditFieldNameRequired">
                                <label for="aclType">Type:</label>
                            </td>
                            <td>
                                <select id="aclType" ng-options='dt for dt in aclTypes' ng-model="acl.type"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

         <div style="margin-top: 20px">
             <button type="button" ng-click="write()">Write</button>
         </div>
     </div>
     <div style="clear: both">
         <textarea rows="20" cols="200" id="targetElement" class="script-body">
 &lt;script&gt;
&lt;name&gt;My script&lt;/name&gt;
&lt;description&gt;This is an awesome script&lt;/description&gt;
&lt;category&gt;Testing scripts&lt;/category&gt;
&lt;key&gt;1234-key-456&lt;/key&gt;
&lt;display type="report"&gt;
	&lt;settings reporttitle="Test Title" /&gt;
&lt;/display&gt;
&lt;version&gt;1.2.3.0&lt;/version&gt;
&lt;security&gt;
     &lt;acl id="acl1" typeartifactid="123" type="delete" typeartifactguid="the-guid"/&gt;
     &lt;acl id="acl2" typeartifactid="456" type="view" typeartifactguid="the-guid2"/&gt;
&lt;/security&gt;
  &lt;input&gt;
    &lt;constant id="_year" name="Usage Period Year (YYYY)" type="number" /&gt;
    &lt;constant id="_month" name="Usage Period Month (MM)" type="number" /&gt;
    &lt;constant id="_replaceCase" name="Replace Case Name With Artifact ID" type="text"&gt;
      &lt;option&gt;True&lt;/option&gt;
      &lt;option&gt;False&lt;/option&gt;
    &lt;/constant&gt;
    &lt;field id="FIELD_PROPAGATE" name="Parent ID destination:"&gt;
      &lt;filters&gt;
        &lt;type&gt;0&lt;/type&gt;
        &lt;type&gt;1&lt;/type&gt;
      &lt;/filters&gt;
    &lt;/field&gt;
      &lt;sql id="viewID" name="Views"&gt;
       SELECT
       Display = [Name],
       ID = [ArtifactID]
       FROM
       [View]
  &lt;/sql&gt;
      &lt;sql id="viewID3" name="Views3"&gt;
       SELECT
       Display = [Name],
       ID = [ArtifactID]
       FROM
       [View3]
  &lt;/sql&gt;
  &lt;object id="Tab" name="Tab" displaytype="multipicker" typeartifactid="1035238" rdoviewartifactid="1034262" /&gt;
  &lt;/input&gt;
&lt;action returns="table"&gt;
&lt;![CDATA[

CREATE PROCEDURE dbo.Test2  
AS  
    CREATE TABLE #t(x INT PRIMARY KEY);  
    INSERT INTO #t VALUES (2);  
    SELECT Test2Col = x FROM #t;  
GO  

CREATE PROCEDURE dbo.Test1  
AS  
    CREATE TABLE #t(x INT PRIMARY KEY);  
    INSERT INTO #t VALUES (1);  
    SELECT Test1Col = x FROM #t;  
EXEC Test2;  
GO  

CREATE TABLE #t(x INT PRIMARY KEY);  
INSERT INTO #t VALUES (456);  
GO  

EXEC Test1;  
GO

]]&gt;
&lt;/action&gt;
&lt;/script&gt;
         </textarea>
     </div>
</body>

</html>
