#sqlEditor { 
    width: 600px;
    height: 600px;
}

body{
    margin:0;
}
#sqlParameterEditor { 
    width: 400px;
    height: 200px;
    border-radius: 3px;
}
.floating-editor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: lightgray;
}
.floating-container{
    width: 400px;
    margin: 50px auto;
}
.panel{
    float: left;
    display: inline-block;
    width: 600px;
}

.blue-button{
    background-color: #2356a6!important;
    background: linear-gradient(#0063af,#1b5495);
    border-color: #194b87;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 400;
    box-sizing: content-box;
    color: #fff!important;
    padding: 3px 8px;
    cursor: pointer;
}

.floating-container .close-icon{
    float: right;
    margin-top: 5px;
}

.parameter{
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px;  
    width: 800px;
}


.cardContainer .cardSection {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    background-color: #f7f7f7;
    border: thin solid #c1c1c1;
    -webkit-box-shadow: 2px 2px 1px #d0d0d0;
    -ms-box-shadow: 2px 2px 1px #d0d0d0;
    box-shadow: 2px 2px 1px #d0d0d0;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.cardContainer {
    padding-bottom: 0!important;
}

h2 {
    padding-left: 15px;
    padding-top: 2px;
}

.cardContainer *:not(input):not(select):not(option):not(button) {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 600;
} 

.cardContainer .cardSection h2 {
    color: #3471b7;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    display: block;
}

.fieldTable {
    border-color: transparent;
    width: 100%!important;
    max-width: 525px;
    border-collapse: separate;
    border-spacing: 2px;
}

table {
    display: table;
}

.dynamicEditFieldNameRequired {
    border-style: none solid none none!important;
    border-width: 4px!important;
    border-top-color: transparent;
    border-right-color: #f59d1f!important;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

td {
    width: 180px;
    min-width: 180px;
}

tr td:first-child {
    text-align: right;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: #102d4f;
    padding: 2px 2px 2px 4px;
    line-height: 1rem;
    font-size: 12px;
    min-height: 20px;
}

select {
    max-width: 325px;
    height: 24px!important;
    line-height: 24px!important;
    min-height: 22px;
}

.ActionButton {
    background-color: #2356a6!important;
    background: linear-gradient(#0063af,#1b5495);
    border-color: #194b87;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 400;
    box-sizing: content-box;
    color: #fff!important;
    padding: 3px 8px;
}