#sqlEditor { 
    width: 600px;
    height: 400px;
}

.panel{
    float: left;
    display: inline-block;  
    width: 200px;
}

.parameter{
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px;  
}
